.container {
  padding: 80px 100px 0px 100px;
}

.profile-div {
  width: 350px;
  padding: 20px;
}

.btn-upload {
  background: rgb(209, 100, 50);
  border: none;
  width: 80px;
  color: white;
  margin-top: 10px;
}

.btn-upload:hover {
  background: #555;
}

/* file upload button */
input[type="file"]::file-selector-button {
  border-radius: 4px;
  padding: 0 16px;
  height: 40px;
  cursor: pointer;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.16);
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
  margin-right: 16px;
  transition: background-color 200ms;
}

/* file upload button hover state */
input[type="file"]::file-selector-button:hover {
  background-color: #f3f4f6;
}

/* file upload button active state */
input[type="file"]::file-selector-button:active {
  background-color: #e5e7eb;
}

.card-col {
  display: inline !important;
  max-width: 20rem !important;
  margin-bottom: 20px;
  padding: 20px !important;
}

.card-header {
  font-size: large !important;
  text-align: center !important;
  background-color: rgb(209, 100, 50) !important;
  color: white;
}

.card-body {
  background-color: #f1f1f1 !important;
}

/* Members List Styles */

.members-table {
  border-collapse: collapse;
  width: 100%;
}

.members-table td,
.members-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.members-table tr:nth-child(even) {
  background-color: #f1f1f1;
}

.members-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(209, 100, 50);
  color: white;
}

.btn-members {
  background: rgb(209, 100, 50);
  border: none;
  width: 80px;
  color: white;
  margin-right: 10px;
}

.btn-add-member {
  background: rgb(209, 100, 50);
  border: none;
  width: 120px;
  color: white;
  margin-right: 10px;
}

.btn-members:hover {
  background: #555;
}

.btn-add-member:hover {
  background: #555;
}

.edit-member-form input {
  width: 250px;
  margin: 10px;
  padding: 5px;
}

.edit-member-form select {
  width: 250px;
  margin: 10px;
  padding: 5px;
}

.edit-member-form textarea {
  width: 250px;
  margin: 10px;
  padding: 5px;
}

.edit-member-form label {
  width: 130px;
}

.bills-div {
  border: 1px solid black;
  padding: 20px 20px 10px 20px;
  width: 300px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.bills-div ul {
  border-top: 2px dashed black;
  border-bottom: 2px dashed black;
  list-style: none;
  padding-top: 10px;
  padding-bottom: 10px;
}

.generic-gym {
  width: 100%;
  height: 600px;
}

.members-card {
  display: none;
}

@media only screen and (max-device-width: 480px) {
  .container {
    padding: 80px 20px 0px 20px;
  }

  .profile-div {
    width: 90%;
    overflow: hidden;
  }

  .generic-gym {
    height: 200px;
    margin-bottom: 20px;
  }

  .bills-div {
    width: 100%;
  }

  .members-table {
    display: none;
  }

  .members-row {
    display: none;
  }

  .members-card {
    display: inline-block;
  }

  .btn-members {
    width: auto;
  }
}
